MODEL:
  
  STUDENT_MODEL: "StudentModel"  
  BACKBONE:
    NAME: "build_resnet_fpn_backbone" 
  TEACHER_MODEL: "TeacherModel" 
  MTN:
    NAME: "ModalityTranslationNetwork"
  KP_DP_RF_HEAD.NAME:
    NAME: "Kp_Dp_Refinement_Head"

