MODEL:
  STUDENT_MODEL: "StudentModel"  
  META_ARCHITECTURE: "GeneralizedRCNN"
  BACKBONE:
    NAME: "build_resnet_fpn_backbone"

  # TEACHER_MODEL: "GeneralizedRCNN" 
  MTN:
    NAME: "ModalityTranslationNetwork"
  KP_DP_RF_HEAD:
    NAME: "Kp_Dp_Refinement_Head"
  STUDENT_ROI_HEAD:
    NAME: "WiFi_ROI_Head"

  KEYPOINT_ON: True

SOLVER:
  IMS_PER_BATCH: 16
  BASE_LR: 0.01
  STEPS: (60000, 80000)
  MAX_ITER: 90000
  WARMUP_FACTOR: 0.1
INPUT:
  MIN_SIZE_TRAIN: (640, 672, 704, 736, 768, 800)
DATASETS:
  TRAIN: ("densepose_coco_2014_train", "densepose_coco_2014_valminusminival")
  TEST: ("densepose_coco_2014_minival",)

LOSS:
  cls: 1.2
  box: 1.0
  dp: 0.6
  kp: 0.3
  tr: 0.00001

CSI:
  MEAN: 
  STD: 



